@font-face {
    font-family:'FrizQuadrataCTT';
    src: url('./fonts/ofont.ru_FrizQuadrataCTT.ttf') format('ttf');
    font-weight: 300;
    font-style: normal; 
    font-display: swap; 
}
@font-face {
    font-family:'FrizQuadrataCTT' ;
    src: url('./fonts/ofont.ru_FrizQuadrataCTT\ bi.ttf') format('ttf');
    font-weight: 700;
    font-style: normal; 
    font-display: swap; 
}

 :root{
    --colar-dark: #F2EAE6;
    --colar-light: #FAF6F1;
    --colar-brown: #E6D0C6;
    --colat-dark-brown:#481D09; 
    --border-radius: 10px;
    --font-family-base: 'FrizQuadrataCTT','san-serif';
    --input-height:60px;
    --container-width:590px;
    --container-padding-x:15px;
    -o-transition-duration: 0.2s;


 }
 body{

    font-family: var(--font-family-base);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--colar-dark);
    
 }
 
 .container {
    margin: 92px 120px;
    background-color: #FAF6F1;
    background-size: cover;
    justify-content:space-between;
    height: 3000px;
    
 }
 
  

 
 h1,h2,h3,h4,h5,h6{

    font-weight: 700;
    text-transform: uppercase;
 }
 header{

    margin: 30px 0px 22px 0px;
    
  
    
 }
 .header-inner{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    
 }
 .header-menu-list{
    display: flex;
    align-items: center;
    column-gap: 75px;
    
    ;
 }
 .header-menu-link{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
}

 .header-menu{
    font-family:'FrizQuadrataCTT';
    background-color: var(--colar-brown);
    padding: 10px 15px;
    display: flex;
    align-items: center;
   ;
 }
 main{
  margin: 1px 0;
  
 }
 
 
 .main-inner{
  margin: 15px 0;
  background-image: url(../the-bakery-s-website/images/image\ 14.png);
  margin-bottom: 21px;
  color: #481D09;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  text-align: center;
  
 }
 .main-inner-first{
  padding-top: 80px; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  
  
}
.text{
  position: absolute;
  
   
   
   font-size: 16px;
}


.button-main{
  margin-top: 17px;
  background-color: #481D09;
  border-radius: 25.5px;
  padding: 12px 22px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #FAF6F1;
  font-size: 24px;
}
.seans{
  text-align: center;
  margin: 61px 0;
  background-image: url(../the-bakery-s-website/images/Vector\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 292px;
  color: #481D09;
  font-weight: 700;
  font-size: 26px;
}
.seans-center{
  transform: translateY(15px);
  text-align: left;
}


.seans-left{
  margin-top: 10px;
}
.seans-bottom-left{
 
  
  margin: 210px 1px 0px 75px ;
  margin-bottom: 15px;
  flex-direction: column;
}

.text-seans-bottom-left{
  margin-right: 550px;
  
}
.sea{
  margin-right: 55pxS;
}
.seans-inner-first{
  margin-top: 100px;
}
.seans-inner-second{
  display:flex ;
  
  justify-content: space-around;
}
.first{
  
  
  background-color: #F2EAE6;
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 45px;
 
  align-items: center;
  text-decoration: none;
  float: right;
  width: 21%;
  
}
.second{
  
  background-color: #F2EAE6;
  padding-left: 60px;
  padding-right: 30px;
  padding-top: 45px;
  
  text-align: center;
  text-decoration: none;
  float: right;
  width: 21%;
  justify-content: center;
  
}
.therd{
  
  background-color: #F2EAE6;
  padding-left: 60px;
  padding-right: 40px;
  padding-top: 45px;
  
  align-items: flex-start;
  text-decoration: none;
  float: right;
  width: 21%;
}
.seans-inner-forth{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #F2EAE6;
  padding-top: 50px;
  text-align: center;
  text-decoration: none;
  float: center;
  width: 100%;
}
.ins{
  margin-right: 50px;
  margin-bottom: 25px;
}
.seans-inner-fifth{
  display: flex;
  justify-content: center;
}
.footer-inner{
margin-top:1550px ;

text-align: center;
color: #481D09;

}
.footer-inner-first{
  background-image: url(../the-bakery-s-website/images/image\ 11.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.footer-txt{
  
  position: absolute;
  color: #481D09;
  font-weight: bold;
}
  
